Repository parameter1/ac-business-media-websites, pull requests merged in 2019-12, with the labels that each got.

#4 "Refresh theme" alpha.3 revisions
  sites/sdcexec.com/config/gam.js
  sites/sdcexec.com/index.js
  sites/sdcexec.com/server/components.js
  sites/sdcexec.com/server/components/blocks/latest-content-load-more.marko
  sites/sdcexec.com/server/components/blocks/marko.json
  sites/sdcexec.com/server/components/fixed-ad-bottom.marko
  sites/sdcexec.com/server/components/flows/latest-content-list.marko
  sites/sdcexec.com/server/components/flows/marko.json
  sites/sdcexec.com/server/components/marko.json
  sites/sdcexec.com/server/routes/content.js
  sites/sdcexec.com/server/styles/index.scss
  sites/sdcexec.com/server/templates/content/company.marko
  sites/sdcexec.com/server/templates/content/contact.marko
  sites/sdcexec.com/server/templates/content/index.marko
  sites/sdcexec.com/server/templates/dynamic-page/index.marko
  sites/sdcexec.com/server/templates/index.marko
  sites/sdcexec.com/server/templates/magazine/index.marko
  sites/sdcexec.com/server/templates/magazine/issue.marko
  sites/sdcexec.com/server/templates/magazine/publication.marko
  sites/sdcexec.com/server/templates/published-content/events.marko
  sites/sdcexec.com/server/templates/published-content/videos.marko
  sites/sdcexec.com/server/templates/published-content/webinars.marko
  sites/sdcexec.com/server/templates/published-content/white-papers.marko
  sites/sdcexec.com/server/templates/search.marko
  sites/sdcexec.com/server/templates/website-section/contact-us.marko
  sites/sdcexec.com/server/templates/website-section/index.marko
Labels: 🌐 site: sdcexec.com

#7 Increase top page spacing; cleanup dynamic page layout
  sites/mixequipmentmag.com/server/styles/index.scss
  sites/mixequipmentmag.com/server/templates/content/index.marko
  sites/mixequipmentmag.com/server/templates/dynamic-page/index.marko
  sites/mixequipmentmag.com/server/templates/index.marko
  sites/mixequipmentmag.com/server/templates/website-section/index.marko
Labels: 🌐 site: mixequipmentmag.com

#8 Add magazine pages
  packages/common/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/config/navigation.js
  sites/mixequipmentmag.com/package.json
  sites/mixequipmentmag.com/server/components.js
  sites/mixequipmentmag.com/server/components/blocks/magazine-publications.marko
  sites/mixequipmentmag.com/server/components/blocks/marko.json
  sites/mixequipmentmag.com/server/components/flows/content-list.marko
  sites/mixequipmentmag.com/server/components/flows/magazine-issue-archive.marko
  sites/mixequipmentmag.com/server/components/flows/marko.json
  sites/mixequipmentmag.com/server/components/nodes/content-list.marko
  sites/mixequipmentmag.com/server/components/nodes/magazine-issue-archive.marko
  sites/mixequipmentmag.com/server/components/nodes/magazine-latest-issue.marko
  sites/mixequipmentmag.com/server/components/nodes/marko.json
  sites/mixequipmentmag.com/server/routes/index.js
  sites/mixequipmentmag.com/server/routes/magazine.js
  sites/mixequipmentmag.com/server/styles/index.scss
  sites/mixequipmentmag.com/server/templates/magazine/index.marko
  sites/mixequipmentmag.com/server/templates/magazine/issue.marko
  sites/mixequipmentmag.com/server/templates/magazine/publication.marko
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: mixequipmentmag.com

#9 Set GTM container ids for sdc, mix, gip
  sites/greenindustrypros.com/config/site.js
  sites/mixequipmentmag.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: greenindustrypros.com, 🌐 site: mixequipmentmag.com, 🌐 site: sdcexec.com

#15 Published content pages
  packages/refresh-theme/components/blocks/content-infinite-scroll.marko
  packages/refresh-theme/components/layouts/marko.json
  packages/refresh-theme/components/layouts/published-content.marko
  packages/refresh-theme/components/marko.json
  packages/refresh-theme/components/nodes/content-card.marko
  packages/refresh-theme/components/nodes/content-list.marko
  packages/refresh-theme/components/nodes/marko.json
  packages/refresh-theme/graphql/fragments/content-latest.js
  packages/refresh-theme/graphql/fragments/content-list.js
  packages/refresh-theme/graphql/fragments/latest-in-section-block.js
  packages/refresh-theme/graphql/fragments/related-content-block.js
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/published-content/blogs.marko
  packages/refresh-theme/templates/published-content/events.marko
  packages/refresh-theme/templates/published-content/podcasts.marko
  packages/refresh-theme/templates/published-content/webinars.marko
  packages/refresh-theme/templates/published-content/whitepapers.marko
  sites/foodlogistics.com/server/routes/index.js
  sites/foodlogistics.com/server/routes/published-content.js
  sites/sdcexec.com/config/navigation.js
  sites/sdcexec.com/server/routes/index.js
  sites/sdcexec.com/server/routes/published-content.js
Labels: 🌐 site: ALL
