Repository parameter1/ac-business-media-websites, pull requests merged in 2020-06, with the labels that each got.

#186 Update imgix domains
  sites/dmnews.com/config/site.js
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/site.js
  sites/forconstructionpros.com/config/spec-guides/asphalt-paver.js
  sites/forconstructionpros.com/config/spec-guides/backhoe-loader.js
  sites/forconstructionpros.com/config/spec-guides/excavator.js
  sites/forconstructionpros.com/config/spec-guides/roller.js
  sites/forconstructionpros.com/config/spec-guides/skid-steer.js
  sites/greenindustrypros.com/config/site.js
  sites/mixequipmentmag.com/config/site.js
  sites/oemoffhighway.com/config/site.js
  sites/oemoffhighway.com/config/spec-guides/engine.js
  sites/oemoffhighway.com/config/spec-guides/motor.js
  sites/oemoffhighway.com/config/spec-guides/pump.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: ALL

#188 Enable RMIs for FL & SDC
  sites/foodlogistics.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#191 Add redirect handler for old company update urls
  packages/refresh-theme/redirect-handler-cufv1.js
  sites/foodlogistics.com/index.js
  sites/forconstructionpros.com/index.js
  sites/greenindustrypros.com/index.js
  sites/oemoffhighway.com/index.js
  sites/sdcexec.com/index.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: forconstructionpros.com, 🌐 site: greenindustrypros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com, 📦 package: refresh-theme

#193 Update/fix contact us forms
  docker-compose.yml
  packages/common/browser/contact-us-form.vue
  packages/common/contact-us/index.js
  packages/common/env.js
  sites/dmnews.com/config/site.js
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/site.js
  sites/greenindustrypros.com/config/site.js
  sites/oemoffhighway.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: ALL, 📦 package: common

#194 Add Instagram to social links
  sites/greenindustrypros.com/config/site.js
Labels: 🌐 site: greenindustrypros.com

#195 Add social media links and remove footer contact email
  sites/mixequipmentmag.com/config/site.js
  sites/mixequipmentmag.com/server/components/site-footer.marko
Labels: 🌐 site: mixequipmentmag.com

#196 Add Flipboard social icons
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/package.json
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/site.js
  sites/forconstructionpros.com/package.json
  sites/greenindustrypros.com/config/site.js
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/config/site.js
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/config/site.js
  yarn.lock
Labels: 🌐 site: foodlogistics.com, 🌐 site: forconstructionpros.com, 🌐 site: greenindustrypros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com

#197 Update podcast links
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#198 Update company layout to Leaders version
  sites/dmnews.com/server/routes/content.js
  sites/foodlogistics.com/server/routes/content.js
  sites/forconstructionpros.com/server/routes/content.js
  sites/greenindustrypros.com/server/routes/content.js
  sites/oemoffhighway.com/server/routes/content.js
Labels: 🌐 site: ALL

#199 Add preservation-maintenance ad unit
  sites/forconstructionpros.com/config/gam.js
Labels: 🌐 site: forconstructionpros.com

#200 Add “Infrastructure” channel
  sites/forconstructionpros.com/config/navigation.js
  sites/forconstructionpros.com/server/styles/index.scss
Labels: 🌐 site: forconstructionpros.com

#201 Add Podcasts to resources menu
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#202 Add COVID-19 to secondary nav, menu
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com
