Repository parameter1/ac-business-media-websites, pull requests merged in 2020-02, with the labels that each got.

#65 Create custom market outlook page
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/theme.scss
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/marko.json
  sites/oemoffhighway.com/package.json
  sites/oemoffhighway.com/server/components/market-outlook/flow.marko
  sites/oemoffhighway.com/server/components/market-outlook/marko.json
  sites/oemoffhighway.com/server/components/market-outlook/node.marko
  sites/oemoffhighway.com/server/components/marko.json
  sites/oemoffhighway.com/server/graphql/fragments/market-outlook-article.js
  sites/oemoffhighway.com/server/graphql/fragments/market-outlook-list.js
  sites/oemoffhighway.com/server/graphql/fragments/market-outlook-nav.js
  sites/oemoffhighway.com/server/routes/website-section.js
  sites/oemoffhighway.com/server/styles/index.scss
  sites/oemoffhighway.com/server/templates/website-section/market-analysis/equipment-market-outlook.marko
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: oemoffhighway.com

#55 Create custom media center landing page
  packages/refresh-theme/components/blocks/marko.json
  packages/refresh-theme/components/blocks/media-center-section.marko
  packages/refresh-theme/components/blocks/recommended.marko
  packages/refresh-theme/components/flows/content-card-deck.marko
  packages/refresh-theme/components/flows/marko.json
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/website-section/media-galleries.marko
  sites/oemoffhighway.com/server/routes/website-section.js
  sites/oemoffhighway.com/server/templates/website-section/media-center.marko
Labels: 🌐 site: oemoffhighway.com, 📦 package: refresh-theme

#54 Adjust node footers with max-width and right-aligned dates
  packages/refresh-theme/scss/theme.scss
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#64 Add gallery/lightbox functionality to content pages
  packages/refresh-theme/browser/index.js
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/content/index.marko
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#66 Add reveal ad package
  packages/refresh-theme/browser/index.js
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/theme.scss
  yarn.lock
Labels: 🌐 site: ALL

#70 Only display inquiry form when enabled on products or companies
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/templates/content/index.marko
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#69 Update ads.txt file for all sites
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  packages/refresh-theme/public/ads.txt
  packages/refresh-theme/routes/public-files.js
  sites/dmnews.com/package.json
  sites/dmnews.com/server/routes/index.js
  sites/foodlogistics.com/package.json
  sites/foodlogistics.com/server/public/ads.txt
  sites/foodlogistics.com/server/routes/index.js
  sites/greenindustrypros.com/package.json
  sites/greenindustrypros.com/server/public/ads.txt
  sites/greenindustrypros.com/server/routes/index.js
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/oemoffhighway.com/server/public/ads.txt
  sites/oemoffhighway.com/server/routes/index.js
  sites/sdcexec.com/package.json
  sites/sdcexec.com/server/public/ads.txt
  sites/sdcexec.com/server/routes/index.js
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#67 Update LinkedIn URL
  sites/greenindustrypros.com/config/site.js
Labels: 🌐 site: greenindustrypros.com

#68 Add MODEX and Case Study Landing Pages
  sites/sdcexec.com/config/navigation.js
  sites/sdcexec.com/server/routes/website-section.js
Labels: 🌐 site: sdcexec.com

#71 Upgrade @base-cms dependencies to 1.17.0
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#74 Upgrade @base-cms dependencies to 1.19.1
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#72 Ensure dates stay right-aligned when no author is present
  packages/refresh-theme/scss/theme.scss
Labels: 🌐 site: ALL

#75 Convert Expert Columnist pages to use scheduled/pinned query
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/website-section/feed.marko
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/foodlogistics.com/server/routes/website-section.js
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  sites/sdcexec.com/server/routes/website-section.js
  yarn.lock
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com, 📦 package: refresh-theme

#76 Change page alias lookup to support all characters
  sites/dmnews.com/server/routes/dynamic-page.js
  sites/foodlogistics.com/server/routes/dynamic-page.js
  sites/greenindustrypros.com/server/routes/dynamic-page.js
  sites/mixequipmentmag.com/server/routes/dynamic-page.js
  sites/oemoffhighway.com/server/routes/dynamic-page.js
  sites/sdcexec.com/server/routes/dynamic-page.js
Labels: 🌐 site: ALL

#77 Upgrade @base-cms dependencies to 1.20.1
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#78 Fix display of logos in photoswipe gallery
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#80 Fix typo in "Whitepapers & Ebooks" link on Media Center page
  sites/oemoffhighway.com/server/templates/website-section/media-center.marko
Labels: 🌐 site: oemoffhighway.com

#81 Update SDCE navigation
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#82 Update FL nav links
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com
