Repository parameter1/ac-business-media-websites, pull requests merged in 2020-09, with the labels that each got.

#229 Add featured company support to spec guides
  packages/common/browser/spec-guide/table.vue
  sites/forconstructionpros.com/config/spec-guides/excavator.js
  sites/forconstructionpros.com/config/spec-guides/roller.js
  sites/oemoffhighway.com/config/spec-guides/engine.js
  sites/oemoffhighway.com/config/spec-guides/motor.js
Labels: 🌐 site: forconstructionpros.com, 🌐 site: oemoffhighway.com

#230 Add datadog agent
  docker-compose.yml
  packages/refresh-theme/datadog.js
  packages/refresh-theme/package.json
  packages/refresh-theme/start-server.js
  yarn.lock
Labels: 🌐 site: ALL

#226 Update video library sections to use published content query
  packages/refresh-theme/templates/website-section/published-videos.marko
  sites/foodlogistics.com/server/routes/website-section.js
  sites/forconstructionpros.com/server/routes/website-section.js
  sites/fordsspros.com/server/routes/website-section.js
  sites/greenindustrypros.com/server/routes/website-section.js
  sites/oemoffhighway.com/server/routes/website-section.js
  sites/sdcexec.com/server/routes/website-section.js
Labels: 🌐 site: ALL

#232 Add podcasts to nav
  sites/oemoffhighway.com/config/navigation.js
  sites/oemoffhighway.com/server/styles/index.scss
Labels: 🌐 site: oemoffhighway.com

#233 Update dependencies
  package.json
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/forconstructionpros.com/package.json
  sites/fordsspros.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: dependencies

#234 Update awards layouts
  packages/refresh-theme/templates/website-section/awards.marko
  sites/foodlogistics.com/server/routes/website-section.js
  sites/sdcexec.com/server/routes/website-section.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#235 Fix sticky leaderboard on content pages
  packages/refresh-theme/templates/content/index.marko
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#236 Prefetch commonly used third-party domains
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/prefetch.js
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#237 FL nav update
  sites/foodlogistics.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com

#239 Fix company page head
  packages/refresh-theme/components/parse.ly/content.marko
  packages/refresh-theme/graphql/fragments/content-company-page.js
  packages/refresh-theme/templates/content/company.marko
Labels: 🌐 site: ALL

#240 Update OEM podcast layout
  sites/oemoffhighway.com/config/navigation.js
  sites/oemoffhighway.com/server/routes/website-section.js
Labels: 🌐 site: oemoffhighway.com

#241 Create and implement event tracking components
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/components/events/init.marko
  packages/refresh-theme/components/events/track-content.marko
  packages/refresh-theme/components/events/track-website-section.marko
  packages/refresh-theme/components/layouts/directory.marko
  packages/refresh-theme/components/layouts/website-section-published-content.marko
  packages/refresh-theme/components/marko.json
  packages/refresh-theme/graphql/fragments/content-company-page.js
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/graphql/fragments/website-section-page.js
  packages/refresh-theme/templates/content/company.marko
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/index.marko
  packages/refresh-theme/templates/website-section/awards.marko
  packages/refresh-theme/templates/website-section/contact-us.marko
  packages/refresh-theme/templates/website-section/index.marko
  packages/refresh-theme/templates/website-section/leaders.marko
  packages/refresh-theme/templates/website-section/media.marko
  sites/dmnews.com/config/events.js
  sites/dmnews.com/config/site.js
  sites/foodlogistics.com/config/events.js
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/events.js
  sites/forconstructionpros.com/config/site.js
  sites/forconstructionpros.com/server/templates/website-section/economics.marko
  sites/fordsspros.com/config/events.js
  sites/fordsspros.com/config/site.js
  sites/greenindustrypros.com/config/events.js
  sites/greenindustrypros.com/config/site.js
  sites/oemoffhighway.com/config/events.js
  sites/oemoffhighway.com/config/site.js
  sites/oemoffhighway.com/server/templates/website-section/market-analysis/equipment-market-outlook.marko
  sites/oemoffhighway.com/server/templates/website-section/media-center.marko
  sites/sdcexec.com/config/events.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: ALL, 📦 package: refresh-theme
