Repository parameter1/ac-business-media-websites, pull requests merged in 2020-04, with the labels that each got.

#103 Add directory package to FL & OEM
  sites/foodlogistics.com/config/categories.js
  sites/foodlogistics.com/package.json
  sites/foodlogistics.com/server/routes/website-section.js
  sites/foodlogistics.com/server/templates/website-section/directory.marko
  sites/oemoffhighway.com/config/categories.js
  sites/oemoffhighway.com/package.json
  sites/oemoffhighway.com/server/routes/website-section.js
  sites/oemoffhighway.com/server/templates/website-section/directory.marko
Labels: 🌐 site: foodlogistics.com, 🌐 site: oemoffhighway.com

#107 Add Facebook link/icon
  sites/mixequipmentmag.com/config/site.js
Labels: 🌐 site: mixequipmentmag.com

#108 Add magazine subscribe links to tertiary navs
  sites/foodlogistics.com/config/navigation.js
  sites/foodlogistics.com/server/styles/index.scss
  sites/greenindustrypros.com/config/navigation.js
  sites/greenindustrypros.com/server/styles/index.scss
  sites/oemoffhighway.com/config/navigation.js
  sites/oemoffhighway.com/server/styles/index.scss
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com

#104 Add directory to SDC & GIP, nav updates
  sites/foodlogistics.com/config/navigation.js
  sites/greenindustrypros.com/config/categories.js
  sites/greenindustrypros.com/config/navigation.js
  sites/greenindustrypros.com/package.json
  sites/greenindustrypros.com/server/routes/website-section.js
  sites/greenindustrypros.com/server/templates/website-section/directory.marko
  sites/oemoffhighway.com/config/navigation.js
  sites/sdcexec.com/config/categories.js
  sites/sdcexec.com/config/navigation.js
  sites/sdcexec.com/package.json
  sites/sdcexec.com/server/routes/website-section.js
  sites/sdcexec.com/server/templates/website-section/directory.marko
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com

#109 Navigation updates
  sites/foodlogistics.com/config/navigation.js
  sites/greenindustrypros.com/config/navigation.js
  sites/oemoffhighway.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com

#110 Add subscribe link
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#111 Create contextual header/navbar and apply to FCP
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/components/marko.json
  packages/refresh-theme/components/site-header/contextual.marko
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com, 📦 package: refresh-theme

#112 Update ads.txt
  packages/refresh-theme/public/ads.txt
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#114 Use core inquiry package and enable Radix
  packages/inquiry/.eslintrc.js
  packages/inquiry/browser/.eslintrc.js
  packages/inquiry/browser/default-form.vue
  packages/inquiry/browser/form-mixin.js
  packages/inquiry/browser/index.js
  packages/inquiry/default-fragment.js
  packages/inquiry/env.js
  packages/inquiry/json-error-handler.js
  packages/inquiry/load-from-config.js
  packages/inquiry/package.json
  packages/inquiry/routers/index.js
  packages/inquiry/routers/submit.js
  packages/inquiry/scss/index.scss
  packages/inquiry/send-mail.js
  packages/inquiry/template-builders/confirmation-builder.js
  packages/inquiry/template-builders/index.js
  packages/inquiry/template-builders/notification-builder.js
  packages/inquiry/templates/confirmation.marko
  packages/inquiry/templates/notification.marko
  packages/inquiry/utils/store-inquiry.js
  packages/refresh-theme/browser/index.js
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/components/inquiry-form.marko
  packages/refresh-theme/components/marko.json
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/start-server.js
  packages/refresh-theme/templates/content/index.marko
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/site.js
  sites/forconstructionpros.com/package.json
  sites/greenindustrypros.com/config/site.js
  sites/oemoffhighway.com/config/site.js
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/config/site.js
  yarn.lock
Labels: 🌐 site: foodlogistics.com, 🌐 site: forconstructionpros.com, 🌐 site: greenindustrypros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com, 📦 package: refresh-theme

#113 Remove inquiry from products and companies
  packages/refresh-theme/templates/content/index.marko
  sites/foodlogistics.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#115 Add multimedia to resources menu on fl
  sites/foodlogistics.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com

#117 Prevent Promotions from displaying on home pages
  packages/refresh-theme/templates/index.marko
Labels: 📦 package: refresh-theme

#120 Left align fcp primary nav items
  sites/forconstructionpros.com/server/styles/index.scss
Labels: 🌐 site: forconstructionpros.com

#118 Update FCP navigation
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#116 Parse.ly Data Tags
  packages/refresh-theme/components/layouts/directory.marko
  packages/refresh-theme/components/layouts/published-content.marko
  packages/refresh-theme/components/layouts/website-section-published-content.marko
  packages/refresh-theme/components/marko.json
  packages/refresh-theme/components/parse.ly/content.marko
  packages/refresh-theme/components/parse.ly/dynamic-page.marko
  packages/refresh-theme/components/parse.ly/magazine-issue.marko
  packages/refresh-theme/components/parse.ly/magazine-publication.marko
  packages/refresh-theme/components/parse.ly/marko.json
  packages/refresh-theme/components/parse.ly/page.marko
  packages/refresh-theme/components/parse.ly/website-section.marko
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/dynamic-page/index.marko
  packages/refresh-theme/templates/index.marko
  packages/refresh-theme/templates/magazine/index.marko
  packages/refresh-theme/templates/magazine/issue.marko
  packages/refresh-theme/templates/magazine/publication.marko
  packages/refresh-theme/templates/search.marko
  packages/refresh-theme/templates/spec-guide/guide.marko
  packages/refresh-theme/templates/spec-guide/index.marko
  packages/refresh-theme/templates/website-section/awards.marko
  packages/refresh-theme/templates/website-section/contact-us.marko
  packages/refresh-theme/templates/website-section/index.marko
Labels: 📦 package: refresh-theme

#122 Update LinkedIn URL
  sites/oemoffhighway.com/config/site.js
Labels: 🌐 site: oemoffhighway.com

#123 Add Podcast links to site menu
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#124 Ensure Podcast pages pull section description and logo
  packages/refresh-theme/components/layouts/website-section-published-content.marko
  packages/refresh-theme/graphql/fragments/website-section-page.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#125 Add newsletter subscribe link to secondary nav
  sites/mixequipmentmag.com/config/navigation.js
Labels: 🌐 site: mixequipmentmag.com

#126 Section logos and navigation updates
  packages/refresh-theme/components/content-section-logo.marko
  packages/refresh-theme/components/marko.json
  packages/refresh-theme/components/site-header/contextual.marko
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/content/index.marko
  sites/forconstructionpros.com/config/navigation.js
  sites/forconstructionpros.com/server/styles/index.scss
Labels: 🌐 site: forconstructionpros.com, 📦 package: refresh-theme

#127 Update FCP navigation
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#121 Implement Leaders on SDCE
  packages/leaders/README.md
  packages/leaders/browser/.eslintrc.js
  packages/leaders/browser/company-social-link.vue
  packages/leaders/browser/company-website-link.vue
  packages/leaders/browser/gtm-track-leaders.vue
  packages/leaders/browser/index.js
  packages/leaders/components/all.marko
  packages/leaders/components/company-social-link.marko
  packages/leaders/components/company-website-link.marko
  packages/leaders/components/contextual.marko
  packages/leaders/components/dropdown-portal.marko
  packages/leaders/components/gtm-tracker.marko
  packages/leaders/components/home-page.marko
  packages/leaders/graphql/fragments/leaders-section.js
  packages/leaders/marko.json
  packages/leaders/package.json
  packages/leaders/scss/index-page.scss
  packages/leaders/scss/index.scss
  packages/leaders/templates/leaders.marko
  packages/refresh-theme/browser/.eslintrc.js
  packages/refresh-theme/browser/index.js
  packages/refresh-theme/components/blocks/company-content-list.marko
  packages/refresh-theme/components/blocks/marko.json
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/components/leaders/company/at-a-glance.marko
  packages/refresh-theme/components/leaders/company/details.marko
  packages/refresh-theme/components/leaders/company/featured-videos.marko
  packages/refresh-theme/components/leaders/company/key-contacts.marko
  packages/refresh-theme/components/leaders/company/label.marko
  packages/refresh-theme/components/leaders/company/logo.marko
  packages/refresh-theme/components/leaders/company/overview.marko
  packages/refresh-theme/components/leaders/marko.json
  packages/refresh-theme/components/leaders/nodes/key-contact-card.marko
  packages/refresh-theme/components/leaders/nodes/youtube-card.marko
  packages/refresh-theme/components/marko.json
  packages/refresh-theme/graphql/fragments/content-company-page.js
  packages/refresh-theme/graphql/fragments/leaders-section.js
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/company-page.scss
  packages/refresh-theme/scss/leaders.scss
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/content/company.marko
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/website-section/leaders.marko
  sites/sdcexec.com/config/site.js
  sites/sdcexec.com/server/routes/content.js
  sites/sdcexec.com/server/routes/website-section.js
  sites/sdcexec.com/server/styles/index.scss
  yarn.lock
Labels: 🌐 site: sdcexec.com, 📦 package: refresh-theme

#129 Check if the leaders program is enabled
  packages/leaders/components/contextual.marko
Labels: bug, 📦 package: refresh-theme

#128 Add Podcast to GIP secondary nav
  sites/greenindustrypros.com/config/navigation.js
Labels: 🌐 site: greenindustrypros.com

#99 Troubleshoot/Fix Reskin implementation
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/forconstructionpros.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: bug, dependencies, 🌐 site: ALL

#130 Add podcasts to resources nav and use feed layout
  sites/forconstructionpros.com/config/navigation.js
  sites/forconstructionpros.com/server/routes/website-section.js
Labels: 🌐 site: forconstructionpros.com

#131 Remove disallow all from robots.txt
  sites/forconstructionpros.com/server/public/robots.txt
Labels: 🌐 site: forconstructionpros.com

#132 Make company layout flush on left side
  packages/refresh-theme/components/blocks/company-content-list.marko
  packages/refresh-theme/components/leaders/company/details.marko
  packages/refresh-theme/components/leaders/company/overview.marko
Labels: 🌐 site: ALL

#133 Exclude Company, Contact, and Promotion types from queries
  packages/refresh-theme/components/blocks/content-infinite-scroll.marko
  packages/refresh-theme/templates/website-section/feed.marko
  packages/refresh-theme/templates/website-section/index.marko
Labels: 🌐 site: ALL

#134 remove technology from secondary nav
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#135 Disable leaders on SDCE
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: sdcexec.com

#137 Update section query logic
  packages/refresh-theme/templates/website-section/index.marko
Labels: 📦 package: refresh-theme

#139 Upgrade @base-cms dependences to 1.27.0
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/forconstructionpros.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL
