Repository parameter1/ac-business-media-websites, pull requests merged in 2020-03, with the labels that each got.

#85 Update SDCE & FL navigation
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#87 Drop automatic inclusion of primary image on video pages
  packages/refresh-theme/templates/content/index.marko
Labels: 🌐 site: ALL

#88 Update SDC & FL nav
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#89 Display second 300x250 reskin ad
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/index.marko
  packages/refresh-theme/templates/website-section/index.marko
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#90 Add media fuse for ad retargeting
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/components/gam-media-fuse.marko
  packages/refresh-theme/components/marko.json
  sites/dmnews.com/config/site.js
  sites/foodlogistics.com/config/site.js
  sites/greenindustrypros.com/config/site.js
  sites/oemoffhighway.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: dmnews.com, 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com

#91 Update ads.txt
  packages/refresh-theme/public/ads.txt
Labels: 📦 package: refresh-theme
