Repository parameter1/ac-business-media-websites, pull requests merged in 2020-01, with the labels that each got.

#17 Mix equipment updates
  sites/mixequipmentmag.com/browser/index.js
  sites/mixequipmentmag.com/config/navigation.js
  sites/mixequipmentmag.com/package.json
  sites/mixequipmentmag.com/server/components/document.marko
  sites/mixequipmentmag.com/server/components/marko.json
  sites/mixequipmentmag.com/server/components/nodes/content-card.marko
  sites/mixequipmentmag.com/server/components/nodes/content-hero-card.marko
  sites/mixequipmentmag.com/server/components/nodes/content-list.marko
  sites/mixequipmentmag.com/server/components/nodes/marko.json
  sites/mixequipmentmag.com/server/components/site-footer.marko
  sites/mixequipmentmag.com/server/graphql/fragments/content-page.js
  sites/mixequipmentmag.com/server/routes/magazine.js
  sites/mixequipmentmag.com/server/styles/index.scss
  sites/mixequipmentmag.com/server/templates/content/index.marko
  yarn.lock
Labels: 🌐 site: mixequipmentmag.com

#18 Add social share package and buttons to content
  packages/refresh-theme/browser/index.js
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/content/index.marko
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com

#20 Exclude contacts and companies on section queries
  packages/refresh-theme/templates/index.marko
  packages/refresh-theme/templates/website-section/index.marko
Labels: 📦 package: refresh-theme

#21 Custom awards section page
  packages/refresh-theme/components/nodes/content-card.marko
  packages/refresh-theme/components/nodes/content-list.marko
  packages/refresh-theme/components/nodes/marko.json
  packages/refresh-theme/graphql/fragments/content-promotion-list.js
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/website-section/awards.marko
  sites/foodlogistics.com/server/routes/website-section.js
  sites/sdcexec.com/server/routes/website-section.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com, 📦 package: refresh-theme

#22 Remove tree care & business from primary & topics
  sites/greenindustrypros.com/config/navigation.js
Labels: 🌐 site: greenindustrypros.com

#23 Update channel navigation; add aliased ad units
  sites/greenindustrypros.com/config/gam.js
  sites/greenindustrypros.com/config/navigation.js
Labels: 🌐 site: greenindustrypros.com

#24 Upgrade @base-cms deps to 1.7.1
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: common, 📦 package: refresh-theme

#27 Add bottom margin to content page video embeds
  packages/refresh-theme/scss/theme.scss
Labels: 📦 package: refresh-theme

#28 RC8 additions
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/magazine/issue.marko
  sites/foodlogistics.com/config/navigation.js
  sites/foodlogistics.com/config/site.js
  sites/foodlogistics.com/server/styles/index.scss
  sites/greenindustrypros.com/config/navigation.js
  sites/greenindustrypros.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com, 📦 package: refresh-theme

#29 Temporarily remove Spec Guide from menu
  sites/greenindustrypros.com/config/navigation.js
Labels: 🌐 site: greenindustrypros.com

#30 Update eNL links
  sites/foodlogistics.com/config/navigation.js
  sites/greenindustrypros.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com

#31 Update newsletter signup menu links
  sites/foodlogistics.com/config/navigation.js
  sites/greenindustrypros.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com

#34 Wrap published content pages with sections
  packages/refresh-theme/components/layouts/marko.json
  packages/refresh-theme/components/layouts/website-section-published-content.marko
  packages/refresh-theme/templates/website-section/blogs.marko
  packages/refresh-theme/templates/website-section/events.marko
  packages/refresh-theme/templates/website-section/podcasts.marko
  packages/refresh-theme/templates/website-section/videos.marko
  packages/refresh-theme/templates/website-section/webinars.marko
  packages/refresh-theme/templates/website-section/whitepapers.marko
  sites/foodlogistics.com/config/navigation.js
  sites/foodlogistics.com/server/routes/index.js
  sites/foodlogistics.com/server/routes/published-content.js
  sites/foodlogistics.com/server/routes/website-section.js
  sites/greenindustrypros.com/server/routes/index.js
  sites/greenindustrypros.com/server/routes/published-content.js
  sites/greenindustrypros.com/server/routes/website-section.js
  sites/sdcexec.com/config/navigation.js
  sites/sdcexec.com/server/routes/index.js
  sites/sdcexec.com/server/routes/published-content.js
  sites/sdcexec.com/server/routes/website-section.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com, 📦 package: refresh-theme

#33 Add ads.txt
  sites/foodlogistics.com/server/public/ads.txt
  sites/greenindustrypros.com/server/public/ads.txt
  sites/sdcexec.com/server/public/ads.txt
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com

#35 Update contact us and inquiry email notifications
  sites/foodlogistics.com/config/site.js
  sites/greenindustrypros.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com

#36 Upgrade @base-cms deps to 1.8.0 and unify versions
  package.json
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: dependencies

#38 Create initial staging site
  .travis.yml
  docker-compose.yml
  sites/oemoffhighway.com/browser/.eslintrc.js
  sites/oemoffhighway.com/browser/index.js
  sites/oemoffhighway.com/config/core.js
  sites/oemoffhighway.com/config/gam.js
  sites/oemoffhighway.com/config/native-x.js
  sites/oemoffhighway.com/config/navigation.js
  sites/oemoffhighway.com/config/site.js
  sites/oemoffhighway.com/index.js
  sites/oemoffhighway.com/newrelic.js
  sites/oemoffhighway.com/package.json
  sites/oemoffhighway.com/server/public/ads.txt
  sites/oemoffhighway.com/server/public/android-chrome-192x192.png
  sites/oemoffhighway.com/server/public/android-chrome-512x512.png
  sites/oemoffhighway.com/server/public/apple-touch-icon.png
  sites/oemoffhighway.com/server/public/favicon-16x16.png
  sites/oemoffhighway.com/server/public/favicon-32x32.png
  sites/oemoffhighway.com/server/public/favicon.ico
  sites/oemoffhighway.com/server/public/robots.txt
  sites/oemoffhighway.com/server/public/site.webmanifest
  sites/oemoffhighway.com/server/routes/content.js
  sites/oemoffhighway.com/server/routes/dynamic-page.js
  sites/oemoffhighway.com/server/routes/home.js
  sites/oemoffhighway.com/server/routes/index.js
  sites/oemoffhighway.com/server/routes/magazine.js
  sites/oemoffhighway.com/server/routes/search.js
  sites/oemoffhighway.com/server/routes/website-section.js
  sites/oemoffhighway.com/server/styles/index.scss
Labels: 🌐 site: oemoffhighway.com

#39 Create staging site for dmnews.com
  .travis.yml
  docker-compose.yml
  packages/refresh-theme/components/nodes/content-list.marko
  packages/refresh-theme/templates/website-section/ebooks.marko
  sites/dmnews.com/browser/.eslintrc.js
  sites/dmnews.com/browser/index.js
  sites/dmnews.com/config/core.js
  sites/dmnews.com/config/gam.js
  sites/dmnews.com/config/native-x.js
  sites/dmnews.com/config/navigation.js
  sites/dmnews.com/config/site.js
  sites/dmnews.com/index.js
  sites/dmnews.com/newrelic.js
  sites/dmnews.com/package.json
  sites/dmnews.com/server/public/ads.txt
  sites/dmnews.com/server/public/android-chrome-192x192.png
  sites/dmnews.com/server/public/android-chrome-512x512.png
  sites/dmnews.com/server/public/apple-touch-icon.png
  sites/dmnews.com/server/public/favicon-16x16.png
  sites/dmnews.com/server/public/favicon-32x32.png
  sites/dmnews.com/server/public/favicon.ico
  sites/dmnews.com/server/public/robots.txt
  sites/dmnews.com/server/public/site.webmanifest
  sites/dmnews.com/server/routes/content.js
  sites/dmnews.com/server/routes/dynamic-page.js
  sites/dmnews.com/server/routes/home.js
  sites/dmnews.com/server/routes/index.js
  sites/dmnews.com/server/routes/magazine.js
  sites/dmnews.com/server/routes/search.js
  sites/dmnews.com/server/routes/website-section.js
  sites/dmnews.com/server/styles/index.scss
  sites/oemoffhighway.com/config/navigation.js
Labels: 🌐 site: dmnews.com

#45 Upgrade @base-cms dependencies to 1.9.0
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: dependencies

#46 Implement screen change events
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 📦 package: refresh-theme

#49 Add Case Studies to site menu
  sites/foodlogistics.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com

#50 Create and apply NativeX config
  sites/greenindustrypros.com/config/native-x.js
  sites/greenindustrypros.com/config/site.js
Labels: 🌐 site: greenindustrypros.com

#53 Set GAM configs
  sites/dmnews.com/config/gam.js
  sites/oemoffhighway.com/config/gam.js
Labels: 🌐 site: dmnews.com, 🌐 site: oemoffhighway.com

#51 Create website section feed template and apply to `case-studies`
  packages/refresh-theme/templates/website-section/feed.marko
  sites/foodlogistics.com/server/routes/website-section.js
Labels: 🌐 site: foodlogistics.com, 📦 package: refresh-theme

#57 Add MODEX to the resource nav
  sites/foodlogistics.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com

#58 Add custom `/feeds` redirect handler
  packages/refresh-theme/redirect-handler.js
  packages/refresh-theme/start-server.js
Labels: 📦 package: refresh-theme

#59 Update newsletter subscription link
  sites/oemoffhighway.com/config/navigation.js
Labels: 🌐 site: oemoffhighway.com

#61 Remove disallow all from robots.txt
  sites/oemoffhighway.com/server/public/robots.txt
Labels: 🌐 site: oemoffhighway.com

#56 Create spec guide landing pages
  packages/common/browser/.eslintrc.js
  packages/common/browser/index.js
  packages/common/browser/spec-guide/field-search.vue
  packages/common/browser/spec-guide/field-sort.vue
  packages/common/browser/spec-guide/measure-select.vue
  packages/common/browser/spec-guide/table.vue
  packages/common/browser/spec-guide/utils/escape-regex.js
  packages/common/browser/spec-guide/utils/extract-range-values.js
  packages/common/browser/spec-guide/utils/parse-number.js
  packages/common/components/marko.json
  packages/common/components/spec-guide/marko.json
  packages/common/components/spec-guide/table.marko
  packages/common/package.json
  packages/common/scss/spec-guide.scss
  packages/inquiry/package.json
  packages/refresh-theme/components/nodes/marko.json
  packages/refresh-theme/components/nodes/spec-guide-card.marko
  packages/refresh-theme/package.json
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/start-server.js
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/spec-guide/guide.marko
  packages/refresh-theme/templates/spec-guide/index.marko
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/config/site.js
  sites/oemoffhighway.com/config/spec-guides/engine.js
  sites/oemoffhighway.com/config/spec-guides/index.js
  sites/oemoffhighway.com/config/spec-guides/motor.js
  sites/oemoffhighway.com/config/spec-guides/pump.js
  sites/oemoffhighway.com/package.json
  sites/oemoffhighway.com/server/routes/index.js
  sites/oemoffhighway.com/server/routes/spec-guide.js
  sites/oemoffhighway.com/server/styles/index.scss
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: oemoffhighway.com, 📦 package: common

#62 Fix spec guide min/max range formatting for sort and filter
  packages/common/browser/spec-guide/table.vue
  sites/oemoffhighway.com/config/spec-guides/motor.js
Labels: 🌐 site: oemoffhighway.com, 📦 package: common

#63 Update base-cms dependencies
  packages/common/package.json
  packages/inquiry/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: dependencies
