Repository parameter1/ac-business-media-websites, pull requests merged in 2020-05, with the labels that each got.

#140 Temporarily remove MediaFuse
  packages/refresh-theme/components/document.marko
Labels: 🌐 site: ALL

#141 Change section option query logic
  packages/refresh-theme/templates/website-section/index.marko
Labels: 📦 package: refresh-theme

#143 Add missing source { width, height } params
  packages/refresh-theme/graphql/fragments/content-page.js
Labels: 🌐 site: ALL

#144 Update NativeX placements to correct section aliases
  sites/foodlogistics.com/config/native-x.js
  sites/greenindustrypros.com/config/native-x.js
  sites/sdcexec.com/config/native-x.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com

#147 Upgrade @base-cms dependencies to 1.27.4
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/forconstructionpros.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#146 Remove `Site Section Map` from menu and add Magazine to tertiary nav
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#145 Add Podcast Icon Overlay CSS
  packages/refresh-theme/scss/theme.scss
Labels: 🌐 site: ALL

#149 Move podcast css to the right level & update tertiary nav
  packages/refresh-theme/scss/theme.scss
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: ALL

#150 Removed IFPE & CONEXPO from nav
  sites/oemoffhighway.com/config/navigation.js
Labels: 🌐 site: oemoffhighway.com

#151 Add SCN Summit to site menu
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#152 Enable primary image on media gallery content
  packages/refresh-theme/templates/content/index.marko
Labels: 🌐 site: ALL

#153 Update inquiry logo to have bg color and padding
  sites/forconstructionpros.com/config/site.js
Labels: 🌐 site: forconstructionpros.com

#154 Remove IFPE & Conexpo from menu
  sites/oemoffhighway.com/config/navigation.js
Labels: 🌐 site: oemoffhighway.com

#156 Add SCN Summit to site nav & 20 Year Anniversary Coverage to site menu
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#155 Add sub-section GAM ad units
  sites/forconstructionpros.com/config/gam.js
Labels: 🌐 site: forconstructionpros.com

#157 Increase navigation breakpoints; remove Magazine and Podcasts
  sites/sdcexec.com/config/navigation.js
  sites/sdcexec.com/server/styles/index.scss
Labels: 🌐 site: sdcexec.com

#159 Remove Directory from site menu
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#160 Add Webinars to site menu
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#161 Enable Leaders for FL, add home page block to refresh theme
  packages/refresh-theme/templates/index.marko
  sites/foodlogistics.com/config/site.js
  sites/foodlogistics.com/server/styles/index.scss
Labels: 🌐 site: foodlogistics.com, 📦 package: refresh-theme

#163 Temporarily switch imgix domains
  sites/dmnews.com/config/site.js
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/site.js
  sites/forconstructionpros.com/config/spec-guides/asphalt-paver.js
  sites/forconstructionpros.com/config/spec-guides/backhoe-loader.js
  sites/forconstructionpros.com/config/spec-guides/excavator.js
  sites/forconstructionpros.com/config/spec-guides/roller.js
  sites/forconstructionpros.com/config/spec-guides/skid-steer.js
  sites/mixequipmentmag.com/config/site.js
  sites/oemoffhighway.com/config/site.js
  sites/oemoffhighway.com/config/spec-guides/engine.js
  sites/oemoffhighway.com/config/spec-guides/motor.js
  sites/oemoffhighway.com/config/spec-guides/pump.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: ALL

#165 Update imgix domain for gip
  sites/greenindustrypros.com/config/site.js
Labels: 🌐 site: greenindustrypros.com

#162 Omeda newsletter signup block
  packages/refresh-theme/components/blocks/marko.json
  packages/refresh-theme/components/blocks/omeda-newsletter-signup.marko
  packages/refresh-theme/dragon-forms/dragon-forms.js
  packages/refresh-theme/scss/theme.scss
  packages/refresh-theme/templates/index.marko
  sites/foodlogistics.com/config/dragon-forms.js
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/dragon-forms.js
  sites/forconstructionpros.com/config/site.js
  sites/greenindustrypros.com/config/dragon-forms.js
  sites/greenindustrypros.com/config/site.js
  sites/oemoffhighway.com/config/dragon-forms.js
  sites/oemoffhighway.com/config/site.js
  sites/sdcexec.com/config/dragon-forms.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: forconstructionpros.com, 🌐 site: greenindustrypros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com, 📦 package: refresh-theme
