Repository parameter1/ac-business-media-websites, pull requests merged in 2020-10, with the labels that each got.

#243 Update rental nav items
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#244 Update Rental secondary nav
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#245 Pluralize “Magazines”
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#242 Support multiple ad units from NativeX
  packages/directory/components/facets.marko
  packages/leaders/components/all.marko
  packages/leaders/components/contextual.marko
  packages/leaders/components/home-page.marko
  packages/refresh-theme/components/blocks/content-infinite-scroll.marko
  packages/refresh-theme/components/blocks/marko.json
  packages/refresh-theme/components/flows/content-card-deck.marko
  packages/refresh-theme/components/flows/content-list.marko
  packages/refresh-theme/components/flows/marko.json
  packages/refresh-theme/components/gam-media-fuse.marko
  packages/refresh-theme/components/marko.json
  packages/refresh-theme/components/native-x-inject.marko
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/index.marko
  packages/refresh-theme/templates/website-section/index.marko
  sites/foodlogistics.com/config/native-x.js
  sites/sdcexec.com/config/native-x.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com, 📦 package: refresh-theme

#246 Update parse.ly implementation
  packages/refresh-theme/components/parse.ly/content.marko
  packages/refresh-theme/graphql/fragments/content-page.js
Labels: 📦 package: refresh-theme

#249 Force media template to 3 columns
  packages/refresh-theme/templates/website-section/media.marko
Labels: 🌐 site: ALL
