Repository parameter1/ac-business-media-websites, pull requests merged in 2020-07, with the labels that each got.

#203 Initial setup for DSS
  .travis.yml
  docker-compose.yml
  sites/fordsspros.com/browser/.eslintrc.js
  sites/fordsspros.com/browser/index.js
  sites/fordsspros.com/config/categories.js
  sites/fordsspros.com/config/core.js
  sites/fordsspros.com/config/dragon-forms.js
  sites/fordsspros.com/config/gam.js
  sites/fordsspros.com/config/native-x.js
  sites/fordsspros.com/config/navigation.js
  sites/fordsspros.com/config/site.js
  sites/fordsspros.com/index.js
  sites/fordsspros.com/newrelic.js
  sites/fordsspros.com/package.json
  sites/fordsspros.com/server/public/android-chrome-192x192.png
  sites/fordsspros.com/server/public/android-chrome-512x512.png
  sites/fordsspros.com/server/public/apple-touch-icon.png
  sites/fordsspros.com/server/public/favicon-16x16.png
  sites/fordsspros.com/server/public/favicon-32x32.png
  sites/fordsspros.com/server/public/favicon.ico
  sites/fordsspros.com/server/public/robots.txt
  sites/fordsspros.com/server/public/site.webmanifest
  sites/fordsspros.com/server/routes/content.js
  sites/fordsspros.com/server/routes/dynamic-page.js
  sites/fordsspros.com/server/routes/home.js
  sites/fordsspros.com/server/routes/index.js
  sites/fordsspros.com/server/routes/magazine.js
  sites/fordsspros.com/server/routes/search.js
  sites/fordsspros.com/server/routes/website-section.js
  sites/fordsspros.com/server/styles/index.scss
  sites/fordsspros.com/server/templates/website-section/directory.marko
Labels: site: fordsspros.com

#204 Temporarily disable native-x
  sites/dmnews.com/config/native-x.js
  sites/foodlogistics.com/config/native-x.js
  sites/forconstructionpros.com/config/native-x.js
  sites/fordsspros.com/config/native-x.js
  sites/greenindustrypros.com/config/native-x.js
  sites/oemoffhighway.com/config/native-x.js
  sites/sdcexec.com/config/native-x.js
Labels: 🌐 site: ALL

#206 Add primary section to content lists
  packages/refresh-theme/components/nodes/content-list.marko
  packages/refresh-theme/graphql/fragments/content-latest.js
Labels: 🌐 site: ALL

#207 Add compaction ad units to FCP
  sites/forconstructionpros.com/config/gam.js
Labels: 🌐 site: forconstructionpros.com

#208 Update ads.txt
  packages/refresh-theme/public/ads.txt
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#210 Disable directory links on DSS
  sites/fordsspros.com/config/navigation.js
Labels: 🌐 site: fordsspros.com

#209 Imgix compression update
  packages/refresh-theme/graphql/fragments/content-company-page.js
  packages/refresh-theme/graphql/fragments/content-contact-us.js
  packages/refresh-theme/graphql/fragments/content-latest.js
  packages/refresh-theme/graphql/fragments/content-list.js
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/graphql/fragments/content-promotion-list.js
  packages/refresh-theme/graphql/fragments/latest-in-section-block.js
  packages/refresh-theme/graphql/fragments/magazine-issue-archive.js
  packages/refresh-theme/graphql/fragments/magazine-issue-page.js
  packages/refresh-theme/graphql/fragments/magazine-latest-issue.js
  packages/refresh-theme/graphql/fragments/related-content-block.js
  packages/refresh-theme/graphql/fragments/website-section-page.js
  sites/dmnews.com/config/site.js
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/site.js
  sites/fordsspros.com/config/site.js
  sites/greenindustrypros.com/config/site.js
  sites/mixequipmentmag.com/config/site.js
  sites/oemoffhighway.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: ALL

#212 Upgrade @base-cms dependencies to 1.33.1
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/package.json
  sites/dmnews.com/package.json
  sites/foodlogistics.com/package.json
  sites/forconstructionpros.com/package.json
  sites/fordsspros.com/package.json
  sites/greenindustrypros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: dependencies
