Repository parameter1/ac-business-media-websites, pull requests merged in 2020-08, with the labels that each got.

#213 Rename “Media Kit” to “Editorial Calendar”
  sites/fordsspros.com/config/navigation.js
Labels: 🌐 site: fordsspros.com

#214 Podcast & video layouts
  packages/refresh-theme/components/layouts/website-section-published-content.marko
  packages/refresh-theme/templates/website-section/media.marko
  sites/foodlogistics.com/config/navigation.js
  sites/foodlogistics.com/server/routes/website-section.js
  sites/forconstructionpros.com/config/navigation.js
  sites/forconstructionpros.com/server/routes/website-section.js
  sites/greenindustrypros.com/config/navigation.js
  sites/oemoffhighway.com/config/navigation.js
  sites/oemoffhighway.com/server/routes/website-section.js
  sites/sdcexec.com/config/navigation.js
  sites/sdcexec.com/server/routes/website-section.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: forconstructionpros.com, 🌐 site: oemoffhighway.com, 🌐 site: sdcexec.com

#215 Podcast nav updates
  sites/foodlogistics.com/config/navigation.js
  sites/oemoffhighway.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#216 Change Radix URLs
  docker-compose.yml
  packages/refresh-theme/components/document.marko
  sites/foodlogistics.com/config/site.js
  sites/forconstructionpros.com/config/site.js
  sites/fordsspros.com/config/site.js
  sites/greenindustrypros.com/config/site.js
  sites/oemoffhighway.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: ALL

#217 Update DSS social links
  sites/fordsspros.com/config/site.js
Labels: 🌐 site: fordsspros.com

#218 Update dependencies
  packages/leaders/package.json
  packages/refresh-theme/package.json
  yarn.lock
Labels: dependencies

#219 Update imgix domains
  sites/fordsspros.com/config/navigation.js
  sites/fordsspros.com/config/site.js
Labels: 🌐 site: fordsspros.com

#220 Update awards page to 2x2
  packages/refresh-theme/templates/website-section/awards.marko
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#222 Media center fix
  sites/oemoffhighway.com/config/navigation.js
  sites/oemoffhighway.com/server/templates/website-section/media-center.marko
Labels: 🌐 site: oemoffhighway.com

#223 Add Newsletter link to nav
  sites/fordsspros.com/config/navigation.js
Labels: 🌐 site: fordsspros.com

#224 Add "Slingers" to directory
  sites/forconstructionpros.com/config/categories.js
Labels: 🌐 site: forconstructionpros.com

#225 Update newsletter link
  sites/fordsspros.com/config/navigation.js
Labels: 🌐 site: fordsspros.com
