Repository parameter1/ac-business-media-websites, pull requests merged in 2021-05, with the labels that each got.

#290 Disallow: /__
  sites/dmnews.com/server/public/robots.txt
  sites/foodlogistics.com/server/public/robots.txt
  sites/forconstructionpros.com/server/public/robots.txt
  sites/greenindustrypros.com/server/public/robots.txt
  sites/mixequipmentmag.com/server/public/robots.txt
  sites/oemoffhighway.com/server/public/robots.txt
  sites/safesecureopenings.com/server/public/robots.txt
  sites/sdcexec.com/server/public/robots.txt
Labels: 🌐 site: ALL

#293 Update newsletter subscription links
  sites/greenindustrypros.com/config/navigation.js
Labels: 🌐 site: greenindustrypros.com

#296 Disallow /print/content
  sites/dmnews.com/server/public/robots.txt
  sites/foodlogistics.com/server/public/robots.txt
  sites/forconstructionpros.com/server/public/robots.txt
  sites/greenindustrypros.com/server/public/robots.txt
  sites/mixequipmentmag.com/server/public/robots.txt
  sites/oemoffhighway.com/server/public/robots.txt
  sites/safesecureopenings.com/server/public/robots.txt
  sites/sdcexec.com/server/public/robots.txt
Labels: 🌐 site: ALL

#295 Enable identity x
  docker-compose.yml
  packages/refresh-theme/browser/.eslintrc.js
  packages/refresh-theme/browser/index.js
  packages/refresh-theme/components/blocks/content-page/gate.marko
  packages/refresh-theme/components/blocks/content-page/marko.json
  packages/refresh-theme/components/blocks/marko.json
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/config/identity-x.js
  packages/refresh-theme/graphql/fragments/content-page.js
  packages/refresh-theme/package.json
  packages/refresh-theme/routes/identity-x.js
  packages/refresh-theme/start-server.js
  packages/refresh-theme/templates/content/index.marko
  packages/refresh-theme/templates/user/authenticate.marko
  packages/refresh-theme/templates/user/login.marko
  packages/refresh-theme/templates/user/logout.marko
  packages/refresh-theme/templates/user/profile.marko
  packages/refresh-theme/templates/user/register.marko
  packages/refresh-theme/utils/get-content-preview.js
  sites/dmnews.com/config/identity-x.js
  sites/dmnews.com/config/site.js
  sites/dmnews.com/server/routes/index.js
  sites/foodlogistics.com/config/identity-x.js
  sites/foodlogistics.com/config/site.js
  sites/foodlogistics.com/server/routes/index.js
  sites/forconstructionpros.com/config/identity-x.js
  sites/forconstructionpros.com/config/site.js
  sites/forconstructionpros.com/server/routes/index.js
  sites/greenindustrypros.com/config/identity-x.js
  sites/greenindustrypros.com/config/site.js
  sites/greenindustrypros.com/server/routes/index.js
  sites/oemoffhighway.com/config/identity-x.js
  sites/oemoffhighway.com/config/site.js
  sites/oemoffhighway.com/server/routes/index.js
  sites/safesecureopenings.com/config/identity-x.js
  sites/safesecureopenings.com/config/site.js
  sites/safesecureopenings.com/server/routes/index.js
  sites/sdcexec.com/config/identity-x.js
  sites/sdcexec.com/config/site.js
  sites/sdcexec.com/server/routes/index.js
  yarn.lock
Labels: 🌐 site: ALL, 📦 package: refresh-theme

#300 Update Omeda Olytics Id
  packages/refresh-theme/components/document.marko
Labels: 📦 package: refresh-theme

#301 Upgrade Deps for updated version of <default-theme-menu-toggle-button />
  packages/common/package.json
  packages/directory/package.json
  packages/refresh-theme/components/site-header/contextual.marko
  packages/refresh-theme/package.json
  sites/forconstructionpros.com/package.json
  sites/mixequipmentmag.com/package.json
  sites/oemoffhighway.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL
