Repository parameter1/ac-business-media-websites, pull requests merged in 2021-02, with the labels that each got.

#259 Add Sponsors to webinars landing page nodes
  packages/refresh-theme/components/nodes/content-list.marko
  packages/refresh-theme/graphql/fragments/content-latest.js
  packages/refresh-theme/scss/theme.scss
Labels: 🌐 site: ALL

#262 Update leaders package
  packages/leaders/package.json
  yarn.lock
Labels: 🌐 site: ALL

#264 Update SDC, FL navigation
  sites/foodlogistics.com/config/navigation.js
  sites/foodlogistics.com/server/styles/index.scss
  sites/sdcexec.com/config/navigation.js
  sites/sdcexec.com/server/styles/index.scss
Labels: 🌐 site: foodlogistics.com, 🌐 site: sdcexec.com

#266 Update twitter url
  sites/safesecureopenings.com/config/site.js
Labels: site: safesecureopenings.com
