Repository parameter1/ac-business-media-websites, pull requests merged in 2022-06, with the labels that each got.

#423 Remove server requirement for region/postal codes
  packages/refresh-theme/config/identity-x.js
Labels: 🌐 site: ALL

#424 Load appropriate content on published-content pages
  packages/refresh-theme/templates/published-content/blogs.marko
  packages/refresh-theme/templates/published-content/events.marko
  packages/refresh-theme/templates/published-content/podcasts.marko
  packages/refresh-theme/templates/published-content/webinars.marko
  packages/refresh-theme/templates/published-content/whitepapers.marko
  packages/refresh-theme/templates/website-section/blogs.marko
  packages/refresh-theme/templates/website-section/ebooks.marko
  packages/refresh-theme/templates/website-section/events.marko
  packages/refresh-theme/templates/website-section/media-galleries.marko
  packages/refresh-theme/templates/website-section/podcasts.marko
  packages/refresh-theme/templates/website-section/published-videos.marko
  packages/refresh-theme/templates/website-section/webinars.marko
  packages/refresh-theme/templates/website-section/whitepapers.marko
  sites/forconstructionpros.com/config/site.js
  sites/safesecureopenings.com/config/site.js
Labels: 🌐 site: ALL

#425 Upgrade dependencies
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/package.json
  sites/forconstructionpros.com/package.json
  sites/oemoffhighway.com/package.json
  yarn.lock
Labels: dependencies

#426 Add hooks for IdX events, update product ids
  packages/refresh-theme/omeda-identity-x/hooks.js
  packages/refresh-theme/package.json
  packages/refresh-theme/start-server.js
  packages/refresh-theme/templates/user/profile.marko
  sites/foodlogistics.com/config/omeda.js
  sites/forconstructionpros.com/config/omeda.js
  sites/sdcexec.com/config/omeda.js
  yarn.lock
Labels: 🌐 site: ALL

#427 Disable sdc gate
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/package.json
  sites/foodlogistics.com/package.json
  sites/forconstructionpros.com/package.json
  sites/greenindustrypros.com/package.json
  sites/oemoffhighway.com/package.json
  sites/safesecureopenings.com/package.json
  sites/sdcexec.com/index.js
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: sdcexec.com
