Repository parameter1/ac-business-media-websites, pull requests merged in 2022-05, with the labels that each got.

#403 Upgrade IdentityX
  packages/refresh-theme/package.json
  yarn.lock
Labels: dependencies

#407 Readd spec guides to site configs where applicable
  sites/forconstructionpros.com/config/site.js
  sites/oemoffhighway.com/config/site.js
Labels: bug, 🌐 site: forconstructionpros.com, 🌐 site: oemoffhighway.com

#414 Disable directSend for inquiries. OEM,GIP,SDC,FLOG
  sites/foodlogistics.com/config/site.js
  sites/greenindustrypros.com/config/site.js
  sites/oemoffhighway.com/config/site.js
  sites/sdcexec.com/config/site.js
Labels: 🌐 site: greenindustrypros.com, 🌐 site: sdcexec.com, 🌐 site: foodlogistics.com, 🌐 site: oemoffhighway.com
