Repository parameter1/ac-business-media-websites, pull requests merged in 2023-04, with the labels that each got.

#490 Add WISC Forum to navigation bar
  sites/foodlogistics.com/config/navigation.js
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: sdcexec.com, 🌐 site: foodlogistics.com

#491 Correct alias for Top Software & Technology, Food Logistics navigation
  sites/foodlogistics.com/config/navigation.js
Labels: 🌐 site: foodlogistics.com

#492 Enable P1 events GAM plugin
  packages/common/package.json
  packages/directory/package.json
  packages/leaders/package.json
  packages/refresh-theme/components/document.marko
  packages/refresh-theme/package.json
  sites/foodlogistics.com/package.json
  sites/forconstructionpros.com/package.json
  sites/greenindustrypros.com/package.json
  sites/oemoffhighway.com/package.json
  sites/rentalproductnews.com/package.json
  sites/sdcexec.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#499 Remove ‘CONEXPO’ from nav
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com
