Repository parameter1/ac-business-media-websites, pull requests merged in 2024-01, with the labels that each got.

#531 Replace ‘Profit Matters’ with ‘Business’ in nav
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#534 Include body in needs fields for company details
  packages/refresh-theme/components/leaders/company/details.marko
Labels: 🌐 site: ALL

#536 Remove Motor and Pump spec guides
  sites/oemoffhighway.com/config/spec-guides/index.js
  sites/oemoffhighway.com/config/spec-guides/motor.js
  sites/oemoffhighway.com/config/spec-guides/pump.js
Labels: 🌐 site: oemoffhighway.com
