Repository parameter1/ac-business-media-websites, pull requests merged in 2024-07, with the labels that each got.

#649 Update IRONPROS TV to use feed layout and update url
  sites/ironpros.com/config/navigation.js
  sites/ironpros.com/server/routes/website-section.js
Labels: 🌐 site: IronPros

#652 Add 20-Year Anniversary to menu OEM
  sites/oemoffhighway.com/config/navigation.js
Labels: 🌐 site: oemoffhighway.com

#654 20 -> 40 year anniversary, OEM
  sites/oemoffhighway.com/config/navigation.js
Labels: 🌐 site: oemoffhighway.com

#653 Update Spec Guides Download URL, OEM
  sites/oemoffhighway.com/config/spec-guides/engine.js
Labels: 🌐 site: oemoffhighway.com

#664 Adjust node chucks based on rail count & page#
  packages/global/components/wrappers/section-feed.marko
Labels: bug

#665 Add withPageHero prop and only enable on section feeds
  packages/global/components/layouts/website-section/feed.marko
  packages/global/components/wrappers/marko.json
  packages/global/components/wrappers/section-feed.marko
Labels: bug
