Repository parameter1/ac-business-media-websites, pull requests merged in 2024-10, with the labels that each got.

#731 Utilize global defined fragment with startDate and endDate returned
  packages/global/graphql/fragments/home-page-top-stories.js
  packages/global/loaders/home-page-top-stories.js
Labels: bug

#737 Fix broken Advertise link & replace subscribe w/ magazine and newsletter
  sites/forconstructionpros.com/config/navigation.js
Labels: 🌐 site: forconstructionpros.com

#741 Update Tandem Roller spec guide downloadLink
  sites/forconstructionpros.com/config/spec-guides/roller.js
Labels: 🌐 site: forconstructionpros.com

#743 Update SCN Summit url
  sites/sdcexec.com/config/navigation.js
Labels: 🌐 site: sdcexec.com

#744 Update contact email for OEM
  sites/oemoffhighway.com/config/site.js
Labels: 🌐 site: oemoffhighway.com

#746 Import `defaultValue` function, IronPros Contact Pages
  sites/ironpros.com/server/components/layouts/content/contact.marko
Labels: bug, 🌐 site: IronPros
