Repository parameter1/ac-business-media-websites, pull requests merged in 2024-06, with the labels that each got.

#639 Configure IDX for custom fields/demos on IronPros
  sites/ironpros.com/config/identity-x.js
Labels: 🌐 site: IronPros

#640 Add missing ’s’ from options
  sites/ironpros.com/server/components/layouts/website-section/home.marko
Labels: bug, 🌐 site: IronPros

#644 Add redirects for initial IronPros company deduplication effort
  packages/global/company-redirects.js
  packages/refresh-theme/redirect-ids.json
Labels: 🌐 site: forconstructionpros.com, 🌐 site: IronPros

#645 Appropriately place redirects in FCPs redirect handler over theme
  packages/refresh-theme/redirect-ids.json
  sites/forconstructionpros.com/fcpRedirectHandler.js
Labels: 🌐 site: forconstructionpros.com
